
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
:root {
        --font-button:1rem;
        --font-small:1rem;
        --weight-small:500;
        --font-medum:3.5rem;
        --weight-medum:650;
        --font-large:4.5rem;
        --weight-larger:800;
        --color-main:#ea001e;
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-secondary:#1f2e4e;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #FAF9FB;
        --bs-dark: #202135;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #78CC6D;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #F2F2F2;
    --dark: #141414;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.hero{
    display: block;
    align-items: center;
    height: 600px;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url("https://cdn.pixabay.com/photo/2018/07/25/16/00/art-3561710_1280.jpg") left center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem;
    backdrop-filter: blur(3px);
}
.logo{
    position: relative;
    overflow: hidden;   
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 0px var(--bs-light);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100%;
    vertical-align: middle;
}
.info-me{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.text-me{
    color: transparent;
    -webkit-text-stroke: 2px var(--bs-dark);
    text-align: center;
    margin-top: 1rem;
}
.text-me h3{
    font-size: 2.5rem;
    font-weight: var(--weight-medum);
    color: var(--bs-light);
    margin-bottom: 1rem;
    color: var(--color-main);
}
.text-me h1{
    text-transform:uppercase;
    font-size:2.5rem;
    margin-bottom: 1rem;
    color: var(--color-main);
}
.web{
    font-size: 2.5rem;
    font-weight: var(--weight-medum);
    color: var(--bs-light);
    -webkit-text-stroke: 1px var(--bs-dark);
    color: var(--color-main);
}
.btn-logo{
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}
.btn{
    -webkit-text-stroke: 0px #ffffff;
    font-size:1rem;
    font-weight: var(--weight-medum);
    color: var(--bs-light);
    border: 1px solid var(--bs-light);
    color: var(--color-main);
    outline: none;
    background-color: transparent;
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    transition: all 0.4s ease ;
    cursor: pointer;
}
.btn:hover{
            background-color: var(--bs-light);
            color: var(--color-main);
            transform: scale(1.1);
            box-shadow: 0px 0px 10px 0px var(--bs-light);
}
.about-me{
        padding: 2rem 3rem;
        background-color: var(--bs-light)
}
.title-about{
    position: relative;
    text-align: center;
}
.title-about h1{
    position: relative;
    font-size: 5rem;
    font-weight: var(--weight-larger);
    color:var(--bs-light);
    background-color: transparent;
    -webkit-text-stroke: 1px #dee2e6;
    text-transform: uppercase;
}
.title-about h2{
    font-size: 2rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 80px;
}
.logo-about{
    position: relative;
    overflow: hidden;
    width: 329px;
    height: 329px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px var(--color-main);
}
.logo-about img{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 329px;
    vertical-align: middle;
}

.content-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.title-content h4{
        font-size: 1.5rem;
        font-weight: var(--weight-medum);
        color: var(--color-main);
        margin-bottom: 1rem;
}
.title-content p{
    font-size: var(--font-small);
    font-weight: var(--weight-small);
    color: var(--bs-gray);
}
.content-flex{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1,329px);
    justify-content: center;
    row-gap: 2rem;
}
.content-flex h5{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
}
span{
    font-size: 0.9rem;
    color: var(--bs-gray);
}
.btn-logo1{
    text-align: left;
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}


.btn1{
    -webkit-text-stroke: 0px #ffffff;
    font-size:1rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    border: 1px solid var(--color-main);
    outline: none;
    background-color: transparent;
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    transition: all 0.4s ease ;
    cursor: pointer;
}
.btn1:hover{
            background-color: var(--color-main);
            color: var(--bs-light);
            transform: scale(1.1);
            box-shadow: 0px 0px 10px 0px var(--color-main);
}

.title-quality{
    position: relative;
    text-align: center;
}
.quality{
    background: linear-gradient(rgba(231, 116, 116, 0.5), rgba(30, 28, 28, 0.9)), url("https://as2.ftcdn.net/v2/jpg/05/68/36/33/1000_F_568363379_t8nr3R9yaKHJxJ07y1Dt4cqv4Flou9mH.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.title-quality h1{
    position: relative;
    font-size: 5rem;
    font-weight: var(--weight-larger);
    color:var(--bs-light);
    background-color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #dee2e6;
}
.title-quality h2{
    font-size: 1.4rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50px;
}


.education{
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(1,329px);
    justify-content: center;
}
.edu{
    margin-bottom: 1rem;
}
.education-left{
    border-left: 1px solid var(--color-main);
    margin-bottom: 1rem;
}
.title-eduction-left{
    margin-bottom: 1rem;
}
.title-eduction-left h2{
        font-size: 1.5rem;
        font-weight: var(--weight-medum);
        color: var(--color-main);
}
i{
    font-size: 1.2rem;
    color: var(--color-main);
}
.content-education h4{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: var(--weight-medum);
    color: var(--bs-light);
    margin-left: 1rem;
}
.content-education p{
    font-size: var(--font-small);
    font-weight: var(--weight-small);
    color: var(--bs-light);
    margin-left: 2rem;
    margin-top: 1rem;
    text-align: justify;

}
.content-small{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.content-small h4{
        font-weight: var(--weight-medum);
        color: var(--color-main);
}
/* skill-rate */
.skill-rate{
    padding: 2rem 3rem;
    margin: auto;
}
.title-skill-rate{
    position: relative;
    text-align: center;
}
.title-skill-rate h1{
    position: relative;
    font-size: 5rem;
    font-weight: var(--weight-larger);
    color:var(--bs-light);
    background-color: transparent;
    -webkit-text-stroke: 1px #dee2e6;
    text-transform: uppercase;
}
.title-skill-rate h2{
    font-size: 2rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 90px;
}
.rate-skill{
    display: grid;
    grid-template-columns: repeat(1,329px);
    justify-content: center;
    row-gap: 2rem;
    column-gap: 1rem;
    margin-top: 4rem;
}
.rate{
    width: 329px;
}
.text-rate{
    display: flex;
    justify-content: space-between;
    margin-bottom:0.4rem ;
}
.text-rate h5{
    font-size: 1rem;
}
.bar{
    height: 15px;
    border-radius: 20px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.bar::after{
    position: absolute;
    content: "";
    width: 95%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--danger);
    border-radius: 20px;
}
.bar-css{
    height: 15px;
    border-radius: 20px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.bar-css::after{
    position: absolute;
    content: "";
    width: 80%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--bs-blue);
    border-radius: 20px;
}
.bar-javascripte{
    height: 15px;
    border-radius: 20px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.bar-javascripte::after{
    position: absolute;
    content: "";
    width: 95%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--bs-cyan);
    border-radius: 20px;

}
.bar-angular{
    height: 15px;
    border-radius: 20px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.bar-angular::after{
    position: absolute;
    content: "";
    width: 85%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--bs-green);
    border-radius: 20px;

}
.bar-php{
    height: 15px;
    border-radius: 20px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.bar-php::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--bs-indigo);
    border-radius: 20px;

}
.bar-python{
    height: 15px;
    border-radius: 20px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.bar-python::after{
    position: absolute;
    content: "";
    width: 75%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--bs-orange);
    border-radius: 20px;
}

/* service */
.service{
    /* height: 700px; */
    padding: 2rem 3rem;
    margin: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(30, 28, 28, 0.9)), url("https://demo.htmlcodex.com/1331/freelancer-portfolio-template/img/portfolio-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.title-service{
    position: relative;
    text-align: center;
}
.title-service h1{
    position: relative;
    font-size: 4rem;
    font-weight: var(--weight-larger);
    color:var(--bs-light);
    background-color: transparent;
    -webkit-text-stroke: 1px #dee2e6;
    text-transform: uppercase;
}
.title-service h2{
    font-size: 2rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 70px;
}

.flex-card{
    display: flex;
    align-items: center;
}
.logo-card{
    position: relative;
    width: 150px;
    min-height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-main);
    background-color: white;
    transition: all 0.4s ease-in
    ;
}
.logo-card i{
    position: relative;
    font-size: 4.5rem;
    font-weight: var(--weight-larger);
    color: #ef233c;
    transition: .4s ;
}
.grid-service{
    display: grid;
    grid-template-columns: repeat(1,329px);
    justify-content: center;
    row-gap: 1.5rem;
    margin-top: 2rem;
}
.card-service{
    position: relative;
    overflow: hidden;
    width: 329px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    z-index: 3;
}
.content-card{
    position: relative;
    overflow: hidden;
    width: calc(100% - 120px);
    padding: 0 30px;
}
.card-service::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-main);
    z-index: -1;
    transition: all 0.4s ease-in-out;
}
.card-service:hover::after{
        width: 100%;
}
.card-service:hover i{
    transform: rotate(360deg);
    color: var(--bs-light);
}
.card-service:hover p{
    color: var(--bs-light);
}
.card-service:hover h4{
    color: var(--bs-light);
}
.card-service:hover .logo-card{
    border: 1px solid var(--bs-secondary);
    background-color:var(--bs-secondary);
}
.content-card h4{
    font-size:1.3rem;
    font-weight: var(--weight-medum);
    color: var(--bs-secondary);
    margin-bottom: 1rem;
    transition: all 0.4s ease-in-out;

}
.content-card p{
    margin: 0;
    font-size: 1.1rem;
    font-weight: var(--weight-small);
    color: var(--bs-light);
    transition: all 0.4s ease-in-out;

}

/* price */

.title-price{
    position: relative;
    text-align: center;
}
.title-price h1{
    position: relative;
    font-size: 3rem;
    font-weight: var(--weight-larger);
    color:var(--bs-light);
    background-color: transparent;
    -webkit-text-stroke: 1px #dee2e6;
    text-transform: uppercase;
}
.title-price h2{
    font-size: 1.7rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 120px;
}
.content-price{
    padding: 4.7rem 5rem;
    display: grid;
    place-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(231, 98, 98, 0.9)), url("https://images.inc.com/uploaded_files/image/1920x1080/shutterstock_645246526_351270.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 2rem;
}
.header-content{
    text-align: center;
    padding: 1rem;
    margin: auto;
}
.header-content h4{

    font-size: 1.2rem;
    font-weight: var(--weight-medum);
    color: var(--bs-dark);
}
.header-content h1{
    font-size: 2.5rem;
    font-weight: var(--weight-larger);
    color: var(--bs-light);
}
.header-content span{
    font-size: 2.5rem;
    font-weight: var(--weight-larger);
    color: var(--bs-dark);
}
.body-price p{
    margin: auto;
    text-align: center;
    font-size: 1rem;
    font-weight: var(--weight-small);
    color: var(--bs-light);
}
.pricing{
    font-size: var(--font-button);
    font-weight: var(--weight-medum);
    color: var(--color-main);
    background-color: var(--bs-light);
    border: 1px solid var(--bs-light);
    outline: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in;
    cursor: pointer;
    margin-top: 1rem;
}
.pricing:hover{
    background-color: transparent;
    border: 1px solid var(--bs-light);
    color: var(--bs-light);
    transform: scale(1.1);
}
.gallary{
    margin: auto;
    padding: 2rem 3rem;
}
.menu-gallary{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin: auto;
}
.btn-menu{
    font-size:0.8rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    background-color: transparent;
    border: 1px solid var(--color-main);
    border-radius: 20px;
    padding:0.5rem 0.7rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.btn-menu:hover{
    background-color: var(--color-main);
    color: var(--bs-light);
    box-shadow: 0px 0px 10px 0px var(--color-main);
}
.title-gallary{
    position: relative;
}
.title-gallary h1{
    text-align: center;
    position: relative;
    font-size: 4rem;
    font-weight: var(--weight-larger);
    color:var(--bs-light);
    background-color: transparent;
    -webkit-text-stroke: 1px #dee2e6;
    text-transform: uppercase;
}
.title-gallary h2{
    font-size: 1.5rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 120px;
}
.grid-gallary{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1,350px);
    justify-content: center;
    gap: 1.5rem;
    transition: all 0.5s ease;

}
.card-gallary{
    position: relative;
    width: 350px;
}
.img-gallary{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    height: 262px;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}
.img-gallary img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
}
.content-gallary{
    margin: auto;
    text-align: center;
    bottom: -100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    padding: 1rem 1.5rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}
.content-gallary h1{
    font-size: 2rem;
    font-weight: var(--weight-larger);
    color: var(--color-main);
}
.content-gallary h4{
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: var(--weight-small);
    color: var(--bs-light);
}
.text-gallary{
    margin-top: 3rem;
}
.img-gallary:hover .content-gallary{
        opacity: 1;
        bottom: 0;
}
.img-gallary:hover img{
    transform: scale(1.1);
}
.blog{
    padding: 1rem 3rem;
}
.title-blog{
    text-align: center;
    margin: auto;
    position: relative;
}
.title-blog h1{
    text-align: center;
    position: relative;
    font-size: 4rem;
    font-weight: var(--weight-larger);
    color:var(--bs-light);
    background-color: transparent;
    -webkit-text-stroke: 1px #dee2e6;
    text-transform: uppercase;
}
.title-blog h2{
    font-size: 1rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    left: 110px;
}
.flex-blog{
    display: grid;
    grid-template-columns: repeat(1,360px);
    justify-content: center;
    gap: 1rem;
    transition: all 0.4s ease-in-out;

}
.img-blog{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    width: 360px;
}
.img-blog img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.4s ease-in-out;
}
.blog-content{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border-radius: 60px;
    background: #0BCEAF;
    box-shadow: 0px 0px 10px 0px #0BCEAf;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.img-blog:hover .blog-content{
    opacity: 1;
}
.img-blog:hover img{
    filter: blur(2px);
    transform: scale(1.1);
}
.flex-blog:hover>:not(:hover){
    opacity: 0.4;
}
.text-blog{
    margin-top: 1rem;
}
.text-blog p{
    font-size: var(--font-button);
    font-weight: var(--weight-medum);
    color: var(--bs-gray);
    margin-bottom: 1rem;
}
.btn-blog{
    font-size:1rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    background-color: transparent;
    border: 1px solid var(--color-main);
    border-radius: 20px;
    padding:0.5rem 0.7rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.btn-blog:hover{
    background-color: var(--color-main);
    color: var(--bs-light);
    box-shadow: 0px 0px 10px 0px var(--color-main);
}
.review{
    padding: 2rem 3rem;
    margin: auto;
    height: 500px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(231, 98, 98, 0.9)), url("https://c0.wallpaperflare.com/preview/755/191/656/agent-agreement-boss-brainstorming.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.title-review{
    position: relative;
}
.title-review h1{
    text-align: center;
    position: relative;
    font-size: 4rem;
    font-weight: var(--weight-larger);
    color:var(--bs-light);
    background-color: transparent;
    -webkit-text-stroke: 1px #dee2e6;
    text-transform: uppercase;
}
.title-review h2{
    font-size: 1rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    left: 110px;
}
.wrapper{
    width: 100%;
    margin: auto;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin-top: 2rem;
    border-radius: 20px;
    /* padding: 1.5rem; */
}
.wrapper-card{
    padding: 0;
    min-width: 320px;
    height: 294px;
      position: relative;
    padding: 30px;
    flex-direction: column;
    background:transparent;
    /* border: 1px solid var(--bs-secondary); */
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .08);
    transition: .4s ease;
    overflow: hidden;
    cursor: pointer;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper-card p{
    margin-top: 0;
    font-weight: var(--weight-small);
    margin-bottom: 1rem;
    transition: .4s ease;
}
.img-wrapper{
   display: flex;
   /* justify-content: center; */
   align-items: center;
   gap: 2rem;
}
.img1-wrapper{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--bs-secondary);
    box-shadow: 0px 0px 10px 0px var(--bs-secondary);
}
.img1-wrapper img{
    width: 100%;
    vertical-align: middle;
}
.tet p{
    color: var(--color-main);
}
.wrapper-card:hover{
    background-color: var(--bs-secondary);
}
.wrapper-card:hover p{
    color: var(--bs-light);
}
.wrapper-card:hover h3{
    color: var(--color-main);
}
.wrapper-card:hover .img1-wrapper{
    box-shadow: 0px 0px 10px 0px var(--bs-light);
}
.foot{
    height: 300px;
    background-color: var(--bs-dark);
}
.icon1{  
    margin: auto;
    display: flex;
   justify-content: center;
   text-align: center;
   gap: 0.5rem;
   padding: 2rem;
}
.icon1 a{
font-size: 1rem;
font-weight: 800;
color: var(--bs-light);
padding: 0.5rem 1rem;
text-decoration: none;
border: 1px solid var(--color-main);
cursor: pointer;
transition: all 0.4s ease;
}
.icon1 a:hover{
color: var(--bs-light);
background-color: var(--color-main);
border: 1px solid var(--color-main);
box-shadow: 0px 0px 5px 0px var(--bs-secondary);
transform: scale(1.1);
}
.icon1 a:hover i{
    color: var(--bs-light);
}
.info-foot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.info-foot a{
    font-size: 1.1rem;
    font-weight: var(--weight-medum);
    color: var(--bs-light);
    text-decoration: none;
    transition: all 0.4s ease;
    cursor: pointer;
}
.info-foot a:hover{
    color: var(--color-main);
    letter-spacing: 3px;
}
.last-foot{
    text-align: center;
}
.last-foot p{
    display: inline-block;
    margin-top: 1rem;
    color: var(--bs-light);
}
.last-foot a{
    font-size: 1.1rem;
    font-weight: var(--weight-medum);
    color: var(--color-main);
    text-decoration: none;
    transition: all 0.4s ease;
    cursor: pointer;
}i{
transition: all 0.4s ease;
}

/* free */

.free{  
    
    position: relative;
    margin: auto;
    margin-top: 5rem;
        padding: 3rem 3rem 2rem 3rem;
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(12, 2, 44, 0.9)), url("https://media.licdn.com/dms/image/D5612AQFcOj0-PofKqw/article-cover_image-shrink_720_1280/0/1680669583713?e=2147483647&v=beta&t=9J62HfQJ_kmv22bZsCihNzt2gDIL9LUeGt1ju--WfuA");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}
.box-free{
    width: 200px;
    text-align: center;
    background-color: var(--bs-secondary);
    padding: 2rem 3rem;
    border: 1px solid var(--bs-secondary);
    cursor: pointer;
    transition: all 0.4s ease;
}
.box-free:hover{
    background-color: rgba(0, 0, 0, .08);
}
.box-free:hover h4{
    color: var(--bs-secondary);
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.box-free h1{
    font-size: 2rem;
    font-weight: var(--weight-larger);
    color: var(--bs-danger);
}
.box-free h4{
    margin-top: 1rem;
    font-size:1rem;
    font-weight: var(--weight-small);
    color: var(--bs-light);
}
.content-free{
    text-align: center;
    margin: auto;
    margin-top: 1rem;
}
.content-free h1{
    font-size:2.5rem;
    font-weight: var(--weight-larger);
    color: var(--bs-light);
}
.content-free p{
    margin-top: 1rem;
    font-size: var(--font-small);
    font-weight: var(--weight-small);
    color: var(--bs-secondary);
}
.btn-free{
    margin-top: 1rem;
    font-size: var(--font-button);
    font-weight: var(--weight-medum);
    color: var(--bs-light);
    border-radius: 20px;
    border: 1px solid var(--color-main);
    background-color: var(--color-main);
    padding:0.7rem 2rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btn-free:hover{
    color: var(--bs-secondary);
    background-color: transparent;
    box-shadow: 0px 0px 10px 0px var(--bs-secondary);
}
.btn-menu:nth-child(1){
    color: var(--bs-light);
    background-color: var(--color-main);
}
.grid-gallary:hover>:not(:hover){
        opacity: 0.4;
}



    /* iphone */
    @media screen and (max-width:400px) {
        .hero{
            height: 500px;
            padding: 1rem;
        }
        .text-me h1{
            font-size: 1.5rem;
        }.text-me h2{
            font-size: 2rem;
        }.btn{
            padding: 0.7rem 0.8rem;
        }.about-me{
            padding: 2rem 1rem;
        }.title-about h1{
            font-size: 4rem;
        }.title-about h2{
            font-size: 1.5rem;
        }.logo-about{
            width: 250px;
            height: 250px;
        }
        .content-right{
            width: 250px;
        }.title-content h4{
            font-size: 1.3rem;
        }.content-flex{
            grid-template-columns: repeat(1, 250px);
        }.btn1{
            font-size: 0.8rem;
            padding: 0.7rem 1.5rem;
        }
    .title-quality h1{
        font-size: 3.5rem;
    }.title-quality h2{
        font-size: 1rem;
    }.education{
        padding: 2rem 1rem;
        grid-template-columns: repeat(1, 250px);
    }
    .content-education h4{
        font-size: 0.8rem;
    }
    .skill-rate{
        padding: 1rem;
        /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(30, 28, 28, 0.9)), url("https://img.freepik.com/premium-photo/skills-education-learning-personal-development-competency-business-concept_524876-490.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; */
        /* padding-bottom: 2rem; */
    }
    .rate-skill{
        grid-template-columns: repeat(1, 250px);
    }
    .rate{
        width: 250px;
    } .title-skill-rate h1{
        font-size: 5rem;
    }.title-skill-rate h2{
        font-size: 1.5rem;
        left: 100px;
    }
    .service{
        padding: 1rem;
    }
     .title-service h1{
        font-size: 3rem;
    }.title-service h2{
        font-size: 1.5rem;
    }
    .grid-service{
        grid-template-columns: repeat(1, 250px);
    }
    .flex-card{
        flex-wrap: wrap;
    }
    .logo-card{
        width: 100%;
       min-height: 100px;
    }
    .logo-card i{
        font-size: 3rem;
    }
    .content-card{
        margin-top: 1rem;
        text-align: center;
        width:250px;
    }
    .card-service{
        width: 250px;
        height: 250px;
    }
    .title-price{
        padding: 1rem;
    }
    .title-price h1{
        font-size: 2.2rem;
    }.title-price h2{
        font-size: 1.1rem;
        top: 40%;
    left: 100px;    }

    .gallary{
        padding: 2rem 1rem;
    }
    .title-gallary{
        margin-bottom: 1rem;
    }
    .title-gallary h1{
        font-size: 3rem;
    }.title-gallary h2{
        font-size: 1.2rem;
    left:80px;   }


    .menu-gallary{
        width: 250px;
        gap: 0.5rem;
    }
    .btn-menu{
        padding: 0.5rem;
    }
    .grid-gallary{
        grid-template-columns: repeat(1, 250px);
    }
    .card-gallary{
        width: 250px;
    }
    .img-gallary{
        width: 250px;
    }
    .img-gallary img{
        /* vertical-align: middle; */
        height: 262px;
    }
    .title-review h1{
        font-size: 3rem;
    }.title-review h2{
        font-size: 1.2rem;
    left:70px;
top: 40%;   }
    .title-blog h1{
        font-size: 3rem;
    }.title-blog h2{
        font-size: 1rem;
    left:60px;
top: 40%;   }



.flex-blog{
    grid-template-columns: repeat(1, 250px);
}
.img-blog{
    width: 250px;
}
}





@media screen and (min-width:760px) {
        .free{
            height: 500px;
        }.content-free h1{
            margin-top: 9rem;
            font-size: 3.5rem;
        }.flex-box{
            position: absolute;
            top: -70px;
            left: 110px;
        }.box-free{
            width: 250px;
        }







    .logo{
        width: 427px;
        height: 427px;
        border-radius: 50%;
    }
    .info-me{
        width: auto;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 5rem;
    }
    .hero{
        display: flex;
        padding: 2rem 5rem;
    }

    .title-about h1{
        font-size: 8rem;
    }
    .title-about h2{
        font-size: 2.5rem;
        top: 40%;
        left: 500px;
    }
    .title-quality h1{
        font-size: 8rem;
    }
    .title-quality h2{
        font-size: 2rem;
        top: 45%;
        left: 400px;
        /* letter-spacing: 4px; */
    }
    .content-about{
        flex-direction: row;
    }
    .logo-about{
        width: 445px;
        height: 445px;
    }
    .logo-about img{
        height: 445px;
    }
    .content-flex{
        grid-template-columns: repeat(2,321px);
    }
    .content-right{
        width: 55%;
    }
    .education{
        grid-template-columns: repeat(2, 570px);
    }
    .content-education p{
        text-align: left;
    }
    .title-skill-rate h1{
        position: relative;
        font-size: 10rem;
        font-weight: var(--weight-larger);
        color:var(--bs-light);
        background-color: transparent;
        -webkit-text-stroke: 1px #dee2e6;
        text-transform: uppercase;
    }
    .title-skill-rate h2{
        font-size: 2.5rem;
        font-weight: var(--weight-medum);
        color: var(--color-main);
        text-transform: uppercase;
        position: absolute;
        top: 45%;
        left: 450px;
        letter-spacing: 10px;
    }

    .skill-rate{
        height: 600px;
    }
    .rate-skill{
        grid-template-columns: repeat(2, 580px);
    }
    .rate{
        width: 580px;
    }
    .service{
        height: 700px;
    }
    .title-service h1{
        position: relative;
        font-size: 8rem;
        font-weight: var(--weight-larger);
        color:var(--bs-light);
        background-color: transparent;
        -webkit-text-stroke: 1px #dee2e6;
        text-transform: uppercase;
    }
    .title-service h2{
        font-size: 2.5rem;
        font-weight: var(--weight-medum);
        color: var(--color-main);
        text-transform: uppercase;
        position: absolute;
        top: 45%;
        left: 450px;
        /* letter-spacing: 5px; */
    }
    .grid-service{
        grid-template-columns: repeat(2, 560px);
        margin-top: 4rem;
    }
    .card-service{
        width: 540px;
    }
    .price{
        margin: auto;
        height: 600px;
    }
    .title-price h1{
        position: relative;
        font-size: 6rem;
        font-weight: var(--weight-larger);
        color:var(--bs-light);
        background-color: transparent;
        -webkit-text-stroke: 1px #dee2e6;
        text-transform: uppercase;
    }
    .title-price h2{
        font-size: 2.5rem;
        font-weight: var(--weight-medum);
        color: var(--color-main);
        text-transform: uppercase;
        position: absolute;
        top: 40%;
        left: 450px;
        letter-spacing: 10px;
    }
    .header-content h1{
        font-size: 4rem;
        font-weight: var(--weight-larger);
        color: var(--bs-light);
    }
    .header-content span{
        font-size: 4rem;
    }
    .body-price p{
        width: 60%;
        font-size: 1.1rem;
    }
    .text-me{
        text-align: left;
        margin-top: 0;
    }
    .text-me h1{
        font-size: var(--font-large);
    }
    .text-me h3{
        font-size: var(--font-medum);
    }
    .menu-gallary{
        margin-top: 1rem;
    }

    .title-gallary h1{
        font-size: 7rem;
    }
    .title-gallary h2{
        top: 45%;
        font-size: 2rem;
        left: 460px;
    }
        .logo-card{
            min-height: 150px;
        }
        .btn-menu{
            font-size: var(--font-button);
            font-weight: var(--weight-medum);
            color: var(--color-main);
            background-color: transparent;
            border: 1px solid var(--color-main);
            border-radius: 20px;
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
        }
        .grid-gallary{
            grid-template-columns: repeat(3,350px);
        }
        .blog{
            height: 600px;
        }
        .title-blog h1{
            position: relative;
            font-size: 7rem;
            font-weight: var(--weight-larger);
            color:var(--bs-light);
            background-color: transparent;
            -webkit-text-stroke: 1px #dee2e6;
            text-transform: uppercase;
        }
        .title-blog h2{
            font-size: 2rem;
            font-weight: var(--weight-medum);
            color: var(--color-main);
            text-transform: uppercase;
            position: absolute;
            top: 40%;
            left: 450px;
            letter-spacing: 2px;
        }
        .flex-blog{
            grid-template-columns: repeat(3,360px);
        }
        .title-review h1{
            font-size: 6rem;
        }
        .title-review h2{
            top: 40%;
            font-size: 2rem;
            left: 500px;
        }
        .review{
            height: 600px;
        }
        .img-wrapper{
            margin-top: 3.5rem;
        }
        .wrapper{
            width: 70%;
            padding: 1.5rem;
        }
        .wrapper-card{
            min-width: 785px;
            border: 1.5px solid var(--bs-secondary);
            box-shadow: 0px 0px 10px 0px var(--bs-secondary);
        }
        .footer{
            padding-top: 2rem;
        }
    }



